/* ============================
   RECUPERAR CONTRASEÑA
============================ */

.titulo_recuperar {
    text-align: center;
    color: #0d47a1;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.descripcion_recuperar {
    text-align: center;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.mensaje_recuperar {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
}

.codigo_input {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 100%;
    transition: .25s;
    outline: none;
}

.codigo_input:focus {
    border-color: #0d47a1;
    box-shadow: 0 0 0 3px rgba(13,71,161,.15);
}

.boton_codigo {
    background-color: #d1b475;
    color: #3e2723;
    font-weight: 700;
    border: black;
    border-radius: 25px;
    width: 100%;
    max-width: 320px;
    height: 50px;
    cursor: pointer;
    transition: transform .2s;
}

.boton_codigo:hover {
    background: #b69e62;
    transform: translateY(-2px);
}

.boton_codigo:active {
    transform: scale(.98);
}

.reenviar_codigo {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.reenviar_codigo span {
    color: #0d47a1;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.reenviar_codigo span:hover {
    color: #1565c0;
    text-decoration: underline;
}

.volver_login {
    margin-top: 25px;
    text-align: center;
}

.volver_login a {
    margin-left: 300px;
    color: #3e2723;
    font-family: Outfit, sans-serif;
}

.volver_login a:hover {
    text-decoration: underline;
}

/* Responsive */

@media (max-width:768px){

    .titulo_recuperar{
        font-size:24px;
    }

    .descripcion_recuperar{
        font-size:14px;
    }

    .codigo_input{
        font-size:18px;
        letter-spacing:5px;
    }

}